@model AgroTour_AggregateRoot.Entities.Location

@{
    ViewData["Title"] = "GetLoactionById";
}

<h1>View Location</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Location Name
        </dt>
        <dd class = "col-sm-10">
            :   @Html.DisplayFor(model => model.locationName)
        </dd>
        <dt class = "col-sm-2">
            Location Address
        </dt>
        <dd class = "col-sm-10">
            :   @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt class = "col-sm-2">
            Location City
        </dt>
        <dd class = "col-sm-10">
            :   @Html.DisplayFor(model => model.LocationCity)
        </dd>
        <dt class = "col-sm-2">
            Cost
        </dt>
        <dd class = "col-sm-10">
            :   @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            Capacity
        </dt>
        <dd class = "col-sm-10">
            :   @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            Booking Status
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsBooked)
            {
                <span>:   This place is already booked</span>
            }
            else
            {
                <span>:   This place is available for booking</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
